{{#page page}}

<div class="results page-content">
	<div class="content-block-title">
		{{item.fields['page-title']}}
	</div>
	<div class="content-block-title">
		Only titles
	</div>
	<div class="list-block tablet-inset">
		<ul>
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title">Name</div>
					<div class="item-after">{{item.fields.name}}</div>
				</div>
			</li>
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title">Latency</div>
					<div class="item-after">{{item.fields.latency}}</div>
				</div>
			</li>
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title">Price</div>
					<div class="item-after">{{item.fields.price}} &euro;</div>
				</div>
			</li>
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title">Author</div>
					<div class="item-after">{{item.fields.author}}</div>
				</div>
			</li>
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title">Release Date</div>
					<div class="item-after">{{item.fields.releaseDate}}</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="content-block">
		{{item.fields.text}}
	</div>
</div>
{{/page}}
