{{#page page}}

	<div class="toolbar toolbar-bottom">
		<div class="buttons-row">
			<a href="#" class="button button-raised app-link" data-page="registration">Register</a>
        	<a href="#" class="button button-raised app-popup" data-page="login">Login</a>
		</div>
	</div>
	
	<div class="index page-content">
       <div class="list-block">
			<ul>
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title label">Search</div>
						<div class="item-input">
							<input type="text" name="search" placeholder="Email" />
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="content-block">
			<a href="#" class="button button-fill list-button app-link" data-page="results">Search</a>
		</div>
    </div>

{{/page}}
