<div class="popup" data-page="login">
	<div class="content-block login-screen-content">
		<div class="login-screen-title">Login</div>
		<form method="post" action="{{action}}" name="login" class="app-form">
			<div class="list-block">
				<ul>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">Email</div>
							<div class="item-input">
								<input type="email" name="email" placeholder="Email" />
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">Password</div>
							<div class="item-input">
								<input type="password" name="password" placeholder="Password" />
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="content-block">
				<div class="row">
					<div class="col-50">
						<a href="#" class="button button-fill color-green app-submit">Sign In</a></li>	
					</div>
					<div class="col-50">
						<a href="#" class="button close-popup app-link" data-page="registration">Sign Up</a></li>	
					</div>
				</div>
			</div>
			<div class="list-block-label">
				<p><a href="#" class="close-popup app-link" data-page="registration">Forgot Password?</a></p>				
			</div>
			<div class="list-block-label">
				<p><a href="#" class="close-popup">Close</a></p>				
			</div>
		</form>
	</div>
</div>