{{#page page}}

	<div class="page-content">
		
		<form method="post" action="{{action}}" name="registration" class="app-form">
			<div class="content-block-title">Account Information</div>
			<div class="list-block">
				<ul>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">Email</div>
							<div class="item-input">
								<input type="email" name="email" placeholder="Email" />
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">Password</div>
							<div class="item-input">
								<input type="password" name="password" placeholder="Password" />
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">Repeat Password</div>
							<div class="item-input">
								<input type="password" name="re-password" placeholder="Password" />
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">Company Name</div>
							<div class="item-input">
								<input type="text" name="company" placeholder="Company Name" />
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">Contact Name</div>
							<div class="item-input">
								<input type="text" name="name" placeholder="Contact Name" />
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">Phone</div>
							<div class="item-input">
								<input type="text" name="phone" placeholder="Phone" />
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">ZIP</div>
							<div class="item-input">
								<input type="number" name="zip" placeholder="ZIP" />
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">Address</div>
							<div class="item-input">
								<input type="text" name="address" placeholder="Address" />
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="content-block">
				<div class="row">
					<div class="col-50">
						<a href="#" class="button button-link back">Close</a>	
					</div>
					<div class="col-50">
						<a href="#" class="button button-fill list-button color-green app-submit">Sign Up</a>	
					</div>
				</div>
			</div>
		</form>
	</div>
{{/page}}
