{{#page page}}

<style>
  .demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
  }
</style>

	<div class="results page-content">
		<div class="content-block-title">
			Total Results: {{data.count}}
		</div>
		
		{{#each data.documents}}
			<div class="card demo-card-header-pic">
				<div style="background-image:url(http://lorempixel.com/1000/600/transport/{{@index}})" valign="bottom" class="card-header color-white no-border">
					{{fields.name}}
				</div>
				<div class="card-content">
					<div class="card-content-inner">
						<p class="color-gray">
							{{fields.releaseDate}}
						</p>
						<p>
							{{fields.category}}
						</p>
					</div>
				</div>
				<div class="card-footer">
					{{fields.price}} &euro;
					<a href="#" class="link app-link" data-page="advert" data-context='{"advert_id": {{@index}}}'>Read more</a>
				</div>
			</div>
		{{/each}}
	</div>

{{/page}}
