<div data-page="{{page.name}}" class="page {{page.cssClass}}">
	
	{{#navbar}}
	
		{{#if page.add}}
			<div class="left">
				<a href="#" class="link app-link" data-page="advert"><i class="fa fa-plus"></i></a>
			</div>
		{{/if}}


		{{#if page.back}}
			<div class="left">
				<a href="#" class="link backs"><i class="icon icon-back"></i></a>
			</div>
		{{/if}}

		<div class="center sliding">

			{{#js_compare " this.page.name === 'chat' "}}
				<a href="#" class="button button-fill button-raised deal-popover">DEAL</a>
			{{else}}
				{{page.title}}
			{{/js_compare}}

		</div>

		<div class="right">
			<!--<a href="#" class="link icon-only app-link new-mail" style="display:none" data-page="chatlist">
                <i class="fa fa-envelope-o " ></i>
                
            </a>
            -->
            <a href="#" class="link icon-only app-link" data-page="chatlist">
            	<i class="fa fa-comments"></i>
				<span class="badge bg-red notify-badge new-mail" style="display: none"></span>
            </a>

			<a href="#" data-panel="right" class="link icon-only open-panel">
                <i class="icon icon-bars"></i>
            </a>
		</div>

	{{/navbar}}
	
	{{content}}	
	
</div>
