<div class="content-block-title">Menu</div>
<div class="list-block">
	<ul>
		<li>
			<a href="#" class="item-link item-content app-link" data-page="index">
				<span class="item-inner">
					<span class="item-title">
						<i class="fa fa-bars"></i> Dashboard
					</span>
				</span>
			</a>
		</li>
	</ul>
</div>
<div class="content-block">
	<p class="row">
		<span class="col-50">
			<a href="#" class="item-link button button-big button-fill color-blue app-popup" data-page="login">Sign In</a>
		</span>
		<span class="col-50">
			<a href="#" class="item-link button button-big button-fill color-green app-link" data-page="registration">Sign Up</a>
		</span>
	</p>
</div>
